{% extends 'Admin/baseloggedIn.html' %}
{% block title %}  Login {% endblock %}
{% block body %}
<h1>CMS Pages</h1>
<button><a href="{{URL}}Admin/Cms/add">Add CMS Page</a></button>

<table>
    <tr>
        
            {% for record,value in data[0] %}
            <th>{{record}}</th>
            {% endfor %}
            {% if data %}
                <th colspan=2>Actions</th>
            {% endif %}
    
    </tr>
    {% for grid in data %}
    <tr>
        {% for key,record in grid %}
            
                <td>{{record}}</td>
    
        {% endfor %}
        <td><a href="{{URL}}Admin/Cms/edit/{{grid.cms_id}}">Edit </a></td>
        <td><a href="{{URL}}Admin/Cms/delete/{{grid.cms_id}}">Delete </a></td>
    </tr>
    {% endfor %}
</table>











{% endblock %}  