{% extends 'base.html' %}
{% block title %} DashBoard {% endblock %}
{% block div %}
<table style="margin-top: 70px; width:100%; margin-right:10px;" class="table table-striped table-hover">
    <caption><h2>Service</h2></caption>
    <tr>
            {% for record,value in content[0] %}
            <th>{{record}}</th>
            {% endfor %}
            
            
            <th colspan=2>Actions</th>
            
    </tr>
    {% for grid in content %}
    <tr>
    
        {% for key,record in grid %}
            {% if key == 'status' %}
                <td><a href="#" class="updateStatus" id="{{grid.serviceId}}-{{record}}">{{record}}</a></td>
            {% else %}
                    <td>{{record}}</td>
            {% endif %}
        {% endfor %}
        <td><a href="{{URL}}Admin/home/edit/{{grid.serviceId}}">Edit </a></td>
        <td><a href="#" class="delete" id="{{grid.serviceId}}">Delete </a></td>
    </tr>
    {% endfor %}
</table>
<script>
    $(document).on('click','.delete',function(){
        var request = $.ajax({
            url: 'http://localhost/vehicleregistration/public/Admin/Home/Delete',
            method: 'POST',
            data : {id : this.id}
        });
            request.success(function() {
              window.location.href="http://localhost/vehicleregistration/public/Admin/Home/";
            });  
    });
    $(document).on('click','.updateStatus',function(){
        var request = $.ajax({ 
            url: 'http://localhost/vehicleregistration/public/Admin/Home/UpdateStatus',
            method: 'POST',
            data : {id : this.id}
        });
        request.success(function() {
            window.location.href="http://localhost/vehicleregistration/public/Admin/Home/";
        }); 
            
    });
</script>

{% endblock %}