{% extends 'base.html' %}
{% block title %}  Login {% endblock %}
{% block div %}
<ul class="nav nav-pills">
    <li><a href="{{URL}}">Home</a></li> 
    {% for categories in category %} 
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{categories.parent_category}} <b class="caret"></b></a>
        
            <ul class="dropdown-menu">
                {% set childCategory = categories.child_category|split(',') %}
                {% for child in childCategory %}
                <li><a href="{{URL}}User/View/viewProducts/{{child}}">{{child}}</a></li>
                {% endfor %}
            </ul>
        

    </li>
    {% endfor %}
    {% for pages in cms %}
        <li><a href="{{URL}}User/View/viewCms/{{pages.Url_key}}">{{pages.page_title}}</a></li>
    {% endfor %}
    <li class="active"><a href="{{URL}}admin/login">Sign In</a></li>
</ul>


{% endblock %}