{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
<h1>Welcome {{ name }} </h1>
{{ post.rollNo }}
<form method="post">
    
    <input type="hidden" name="id" value="{{edit.student_id}}">
    <label for="rollno">Roll No:</label>
    <input type="text" name="roll" id="roll" value="{{edit.rollNo}}"> 
    {{ error.roll }}
    <br>
    <label for="name">Name : </label>
    <input type="text" name="name" id="name" value="{{edit.studentName}}">
    {{ error.name }}
    <br>
    <input type="submit" value="Submit" name="submit">
</form>
{% endblock %}