{% extends 'base.html' %}
{% block title %} Service {% endblock %}

{% block div %}
{% if data.title =='' %}
<div style="float: right;"><h4><a href="{{URL}}/User/Home/logout"> Logout </a></h4></div>
<div>
    <a href="{{URL}}User/Service">
        <button type="submit" class="btn btn-primary btn-lg">Service Registration</button>
    </a>
    <a href="{{URL}}User/Dashboard">
        <button type="submit" class="btn btn-primary btn-lg">Home</button>
    </a>
</div>
{% endif %}
{% endblock %}


{% block body %}
<div class="signup-form">
    <form method="post">
		<h2>{{action}} Service</h2>
        
		<div class="form-group">
            <input type="text" class="form-control" name="title" value="{{data.title}}" placeholder="Title">
        </div>
        {%if error.title %}
            <span>{{error.title}}</span>
        {% endif %}
		<div class="form-group">
        	<input type="text" class="form-control" name="vehicleNumber" value="{{data.vehicleNumber}}" placeholder="Vehicle Number">
        </div>
        {%if error.vehicleNumber %}
            <span>{{error.vehicleNumber}}</span>
        {% endif %}
        <div class="form-group">
        	<input type="text" class="form-control" name="licenseNumber" value="{{data.licenseNumber}}"placeholder="License Number">
        </div>
        {%if error.licenseNumber %}
            <span>{{error.licenseNumber}}</span>
        {% endif %}
        <div class="form-group">
        	<input type="date"  class="form-control date" name="date" value="{{data.date}}">
        </div>
        {%if error.date %}
            <span>{{error.date}}</span>
        {% endif %}
        
		<div class="form-group">TimeSlot
            <select name="timeSlot" class="form-control timeSlot" disabled >
                <option value="{{data.timeSlot}}">{{data.timeSlot}}</option>
            </select>
        </div>
        {%if error.timeSlot %}
            <span>{{error.timeSlot}}</span>
        {% endif %}
        
		<div class="form-group">
            <input type="text" class="form-control" name="vehicleIssue" value="{{data.vehicleIssue}}"placeholder="Vehicle Issue">
        </div> 
        {%if error.vehicleIssue %}
            <span>{{error.vehicleIssue}}</span>
        {% endif %}
        {% set serviceCenter = ['Service1', 'Service2', 'Service3'] %}
		<div class="form-group">Service Center
            <select name="serviceCenter" class="form-control">
                {% for service in serviceCenter %}
                <option value="{{service}}" {% if service == data.serviceCenter %} selected {% endif %}>{{service}}</option>
                {% endfor %}
            </select>
        </div>
        {% if error.serviceCenter %}
            <span>{{error.serviceCenter}}</span>
        {% endif %}
        {% if data.status %}
        {% set statusOption = ['pending', 'approved'] %}
        <div class="form-group">Status
            <select name="status" class="form-control" >
                {% for statuss in statusOption %}
                <option value="{{statuss}}" {% if statuss == data.status %} selected {% endif %}>{{statuss}}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}
        
        
       
		<div class="form-group">
            <button type="reset"  class="btn btn-primary btn-lg">Reset</button>
            <button type="submit" class="btn btn-primary btn-lg" name="addService">{{action}} Service</button>
        </div>
    </form>
	
</div>
<script>
    
        $(document).ready(function () {
          
         var todaysDate = new Date();
          var year = todaysDate.getFullYear(); 			
          var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);
          var day = ("0" + (todaysDate.getDate() + 1)).slice(-2);			
      
             var minDate = (year +"-"+ month +"-"+ day); 
          $('.date').attr('min',minDate);
       
        });
    
    $(document).on('change','.date',function(){
        $('.timeSlot').attr('disabled',false);
        var request = $.ajax({
            url: 'http://localhost/vehicleregistration/public/TimeSlot/',
            method: 'POST',
            data : {date : $('.date').val()},
            dataType: 'json'
        });
            request.success(function(result) {
                $('.timeSlot').empty();
                $.each(result, function(k, v) {
                    $('.timeSlot').append('<option>'+this.timeSlot+'</option>');
                });
            });  
    
    });

</script>
{% endblock %}